/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

body {
	max-width: 1000px;
	margin: 0 auto;
}

@media(max-width: 814px) {
    body {
        max-width: 800px;
    }

    .container {
        margin: 0 1em;
    }

    header {
        flex-direction: column;
    }
    
    .logo {
        order: -1;
        padding-bottom: 2em;
    }
}

@media(max-width: 500px) {
    .container {
        margin: 0 0;
    }
}

header {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

	nav {
		display: flex;
		justify-content: space-between;
		width: 80%;
		padding-right: 2rem;
    }
    
    @media(max-width: 814px) {
        nav {
            width: 100%;
        }
    }

    @media(max-width: 500px) {
        nav {
            flex-direction: column;
            padding-right: 0;
        }

        nav a {
            border-top: 1px solid rgb(104, 110, 119);
            padding: 1em 0;
            text-align: center;
        }

        nav a:hover {
            background: rgb(104, 110, 119);
            color: #eeeeee;
        }

        nav a:last-child {
            border-bottom: 1px solid rgb(104, 110, 119);
        }
    }

		nav a {
			text-decoration: none;
            font-size: .85rem;
            color: rgb(104, 110, 119);
        }
        

.top-sec {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 40px 0;
}

	.cta {
		align-content: center;
		text-align: center;
	}

		h1 {
			font-size: 5rem;
		}

		.btn {
			width: 60%;
            height: 2rem;
            background: #eeeeee;
            border: 1px solid black;
        }
        
        @media(max-width: 814px) {
            .header-img {
                display: none;
            }
        }
.mid-section {
    border-top: 1px solid rgb(104, 110, 119);
    border-bottom: 1px solid rgb(104, 110, 119);
}

@media(max-width: 500px) {
    .mid-section {
        margin: 0 1em;
        padding: 2em 0 1em 0;
    }
}

.mid-top {
	display: flex;
	margin-bottom: 10px;
}

@media(max-width: 814px) {
    .mid-top {
        padding: 0 .5em;
    }
}

@media(max-width: 500px) {
    .mid-top {
        flex-direction: column;
        padding: 0;
    }
}

.banner {
	width: 100%;
	padding: 1em 0;
}

.mid-bot-sec {
	display: flex;
}

@media(max-width: 814px) {
    .mid-bot-sec {
    padding: 0 .5em;
    }
}

@media(max-width: 500px) {
    .mid-bot-sec {
    flex-direction: column;
    padding: 0;
    }
}

	.mid-content {
		padding: 10px 0
	}

	.pr {
		padding-right: 10px;
	}

.contact {
	padding: 1em 0;
}

@media(max-width: 814px) {
    .contact {
        padding-left: .5em;
        padding-right: .5em;
    }
}

@media(max-width: 500px) {
    .contact {
        padding: 1em 0 0 0;
        margin: 0 1em;
    }
}

	address {
		padding-bottom: 5px;
	}

.comms {
	display: block;
	text-decoration: none;
	padding-top: 10px;
}

footer {
	display: flex;
    justify-content: center;
    padding: 2em 0 1em 0;
}
	





		




